$bcolor:#555;
$bbcolor:#f4f4f4;
$hbcolor:coral;
$hcolor:#fff;
$hfont:40px;
$bnavbar:#333;
$htsfontf: verdana,tahoma, sans-serif;

.container{
width:80%;
margin:auto;
overflow:hidden;
}

#main-header{
background-color:$hbcolor;
font-family:$htsfontf;
font-weight:bold;
color:$hcolor;
text-align:center;
line-height:.7;
padding:10px;
}

h1{
font-size:$hfont;
margin-bottom:0;
}

body{
background-color:$bbcolor;
color:$bcolor;
font-family: arial,helvetica, sans-serif;
font-size:14px;
line-height:1.6em;

h2,h3,h4,h5,h6{

font-family:$htsfontf;
}

}

a{
text-decoration:none;
color:$hcolor;
font-weight:normal;
padding-top:15px;
}

a:hover{
color:coral;
}

a:active{
color:coral;
}

#navbar{
background-color:$bnavbar;
color:#fff;
padding:5px;
}

#navbar ul{
padding:0;

}

#navbar li{
display: inline;
}

 li::selection{
color:gold;
}

#icon{
display: inline;

}

#navbar a{
font-size:18px;
padding-right:15px;
}

%show{
background-position:auto;
margin-bottom:30px;
text-align: center;
}

#showcase0{
@extend %show;
background-image: url('C:/Users/User/Desktop/Web Design/practice/images/codes.jpg');
min-height:200px;
}

#showcase0 h3{
color:#fff;
font-size:40px;
line-height: 1.6em;
padding-top:40px;
}

#showcase1{
@extend %show;
background-image: url('C:/Users/User/Desktop/Web Design/practice/images/codes.jpg');
min-height:200px;
}


#showcase1 h3{
color:#fff;
font-size:50px;
padding:40px;
}

#showcase2{
@extend %show;
background-image: url('C:/Users/User/Desktop/Web Design/practice/images/logo.jpg');
min-height:500px;
}

#showcase2 h3{
color:coral;
font-size:38px;
padding:0px;
}

#main{
float:left;
width:63%;
padding:0 30px;
box-sizing: border-box;
text-align:justify;
line-height:1.5em;
}

#main1{
float:left;
width:32%;
padding:0 30px;
box-sizing: border-box;
text-align:justify;
line-height:1.5em;
}

#main2{
float:left;
width:32%;
padding:0 30px;
box-sizing: border-box;
text-align:justify;
line-height:1.5em;
}

#main3{
float:left;
width:32%;
padding:0 30px;
box-sizing: border-box;
text-align:justify;
line-height:1.5em;
}

#mainC{
float:center;
width:80%;
padding:0 30px;
box-sizing: border-box;
text-align:justify;
line-height:1.5em;
}

%side{
padding:15px;
margin-bottom:30px;
margin-top:30px;
line-height:2em;
border:5px;
border-radius:15px;
}

#sidebar0{
@extend %side;
float:right;
width:32%;
background-color:#333;
color:#fff;
border-color:#333;
font-family:helvetica,tahoma,san-serif;
}

#sidebar1{
@extend %side;
float:right;
width:30%;
background-color:#fff;
color:#333;
border-color:#333;
font-family: tahoma,helvetica, san-serif;
}

#sidebar2{
float:left;
width:70%;
background-color:#fff;
color:#333;
border-color:#333;
font-family:verdana,tahoma,san-serif;
font-weight:bold;
}

#sidebar3{
float:center;
width:80%;
background-color:#fff;
color:#333;
border-color:#333;
font-family:verdana,tahoma,san-serif;
}


.row >div{
margin:30px;
}

#foot{
background-color:$hbcolor;
color:$hcolor;
text-align: center;
margin-top:30px;
padding:20px;

}

@media(max-width:600px){

#main{
width:100%;
float:none;
}

#sidebar0{
width:100%;
float:none;
}

#sidebar1{
width:100%;
float:none;
}

#sidebar2{
width:100%;
float:none;
}

}

